{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Upravení předepsání léku</h1>

		{{ form_start(edit_form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				<div class="fm__item--select">
					{{ form_row(edit_form.drug, { 'label': 'Název léku' }) }}
				</div>
				{{ form_row(edit_form.amount, { 'label': 'Množství' }) }}
				{{ form_row(edit_form.delivery, { 'label': 'Zůsob podávání' }) }}
				{{ form_row(edit_form.periodOfApplication, { 'label': 'Perioda podávání (hodin)' }) }}

				<div class="fm__btn">
					<input type="submit" value="Vytvořit" class="btn" />
				</div>
			</div>

		{{ form_end(edit_form) }}

		<a href="{{ path('app_prescription_index') }}"class="btn btn--back">Zpět na výpis</a>
	</div>
{% endblock %}
