<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Periodofapplication</th>
        <th>Delivery</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for prescription in prescriptions %}
        <tr>
            <td><a href="{{ path('app_prescription_show', { 'id': prescription.id }) }}">{{ prescription.id }}</a></td>
            <td>{{ prescription.periodOfApplication }}</td>
            <td>{{ prescription.delivery }}</td>
            <td>{{ prescription.amount }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('app_prescription_show', { 'id': prescription.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('app_prescription_edit', { 'id': prescription.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>

    {% else %}
        <tr><td colspan="5">Zadne predepsane leky</td></tr>
    {% endfor %}
    </tbody>
</table>
