<div class="container">
	{% if prescriptions|length == 0 %}
		<p class="grid--empty">Žádná předepsání léku</p>
	{% else %}
		<table class="grid">
			<thead>
				<tr>
					<th>Perioda podávání (hodin)</th>
					<th>Dávkování</th>
					<th>Množství</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for prescription in prescriptions %}
					<tr>
						<td>{{ prescription.periodOfApplication }}</td>
						<td>{{ prescription.delivery }}</td>
						<td>{{ prescription.amount }}</td>
						<td>
							<a href="{{ path('app_prescription_show', { 'id': prescription.id }) }}" class="btn--show" title="Detail"></a>
							<a href="{{ path('app_prescription_edit', { 'id': prescription.id }) }}" class="btn--edit" title="Upravit"></a>
							<a href="{{ path('app_drug_application_new', {'id': prescription.id }) }}">Zaznamenat podání léku</a>
						</td>
					</tr>
			{% else %}
				<tr>
					<td colspan="5">Žádné předepsané leky</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
