{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		{{ form_start(form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				<div class="fm__item--select">
					{{ form_row(form.drug, { 'label': 'Název léku' }) }}
				</div>
				{{ form_row(form.amount, { 'label': 'Množství' }) }}
				{{ form_row(form.delivery, { 'label': 'Zůsob podávání' }) }}
				{{ form_row(form.periodOfApplication, { 'label': 'Doba podávání' }) }}

				<div class="fm__btn">
					<input type="submit" value="Vytvořit" class="btn" />
				</div>
			</div>

		{{ form_end(form) }}

		<a href="{{ path('app_prescription_index') }}"class="btn btn--back">Zpět na výpis</a>
	</div>
{% endblock %}
