{% extends 'app/appBase.html.twig' %}

{% block body %}
    <h1>Prescription</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prescription.id }}</td>
            </tr>
            <tr>
                <th>Periodofapplication</th>
                <td>{{ prescription.periodOfApplication }}</td>
            </tr>
            <tr>
                <th>Delivery</th>
                <td>{{ prescription.delivery }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ prescription.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_prescription_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_patient_show', {'id': prescription.examination.hospitalization.patient.id}) }}">Back to the patient</a>
        </li>
        <li>
            <a href="{{ path('app_prescription_edit', { 'id': prescription.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
