{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

	{% if patients|length != 0 %}
		<form method="GET" class="fm fm--search">
			<label>
				<input type="text" name="q" placeholder="Vyhledávejte např. Jan Novák" value="{{ searchValue }}">
				<button type="submit"><span>Vyhledávat</span></button>
			</label>
		</form>
	{% endif %}

		<h1>Seznam pacientů</h1>
		{% if patients|length == 0 %}
			<p class="grid--empty">Žádní pacienti</p>
		{% else %}
			<table class="grid">
				<thead>
					<tr>
						<th>Jméno</th>
						<th>Příjmení</th>
						<th>uid</th>
						<th>Ulice</th>
						<th>Č.p.</th>
						<th>Město</th>
						<th>PSČ</th>
						<th>mid</th>
						<th>Pojišťovna</th>
						<th>Pohlaví</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for patient in patients %}
						<tr>
							<td>{{ patient.name }}</td>
							<td>{{ patient.surname }}</td>
							<td>{{ patient.personalIdentificationNumber }}</td>
							<td>{{ patient.street }}</td>
							<td>{{ patient.houseNumber }}</td>
							<td>{{ patient.city }}</td>
							<td>{{ patient.zip }}</td>
							<td>{{ patient.medicalIdentificationNumber }}</td>
							<td>{{ patient.insuranceCompanyId }}</td>
							<td>
								{% if patient.isWoman %}Žena{% else %}Muž{% endif %}</td>
							<td>
								<a href="{{ path('app_patient_show', { 'id': patient.id }) }}" class="btn--show" title="Detail"></a>
								<a href="{{ path('app_patient_edit', { 'id': patient.id }) }}" class="btn--edit" title="Upravit"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% include 'include/pagination.html.twig' with {'pathName': 'app_patient_index'}%}
		{% endif %}

		<a href="{{ path('app_patient_new') }}" class="btn">Vytvořit nového pacienta</a>

		{% if searchValue is not empty %}
			<a href="{{ path('app_patient_index') }}" class="btn btn--back">Zpět</a>
		{% endif %}

	</div>
{% endblock %}
