{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Nový pacient</h1>

		{{ form_start(form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				{{ form_row(form.name, { 'label': 'Jméno' }) }}
				{{ form_row(form.surname, { 'label': 'Příjmení' }) }}
				{{ form_row(form.street, { 'label': 'Ulice' }) }}
				{{ form_row(form.houseNumber, { 'label': 'Č.p.' }) }}
				{{ form_row(form.personalIdentificationNumber, { 'label': 'Rodné číslo' }) }}
				{{ form_row(form.city, { 'label': 'Město' }) }}
				{{ form_row(form.zip, { 'label': 'Psč' }) }}
				{{ form_row(form.city, { 'label': 'Město' }) }}
				{{ form_row(form.medicalIdentificationNumber, { 'label': 'Číslo pojišťence' }) }}
				{{ form_row(form.insuranceCompanyId, { 'label': 'Číslo pojišťovny' }) }}
				{{ form_row(form.gender, { 'label': 'Muž' }) }}


				<div class="fm__btn">
					<input type="submit" value="Vytvořit" class="btn" />
				</div>
			</div>

		{{ form_end(form) }}

		<a href="{{ path('app_patient_index') }}" class="btn btn--back">Zpět na výpis</a>

	</div>
{% endblock %}
