{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Pacient</h1>

		<table class="grid grid--show">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ patient.id }}</td>
				</tr>
				<tr>
					<th>Jméno</th>
					<td>{{ patient.name }}</td>
				</tr>
				<tr>
					<th>Příjmení</th>
					<td>{{ patient.surname }}</td>
				</tr>
				<tr>
					<th>uid</th>
					<td>{{ patient.personalIdentificationNumber }}</td>
				</tr>
				<tr>
					<th>Ulice</th>
					<td>{{ patient.street }}</td>
				</tr>
				<tr>
					<th>Č.p.</th>
					<td>{{ patient.houseNumber }}</td>
				</tr>
				<tr>
					<th>Město</th>
					<td>{{ patient.city }}</td>
				</tr>
				<tr>
					<th>PSČ</th>
					<td>{{ patient.zip }}</td>
				</tr>
				<tr>
					<th>mid</th>
					<td>{{ patient.medicalIdentificationNumber }}</td>
				</tr>
				<tr>
					<th>Pojišťovna</th>
					<td>{{ patient.insuranceCompanyId }}</td>
				</tr>
				<tr>
					<th>Pohlaví</th>
					<td>
						{% if patient.isWoman %}
						Muž
						{% else %}
						Žena
						{% endif %}
						</td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('app_patient_index') }}" class="btn btn--back">Zpět na výpis</a>
				<a href="{{ path('app_patient_edit', { 'id': patient.id }) }}" class="btn">Upravit</a>
                {% if app.user.isDoctor()%}
					<a href="{{ path('app_patient_hospitalize', { 'id': patient.id }) }}" class="btn">Hospitalizovat</a>
				{% endif %}
			</li>
		</ul>

        {% include ':app/hospitalization:list.html.twig' with {'hospitalizations': patient.getHospitalizations()} %}

        {% set currentHospitalization = patient.getCurrentHospitalization() %}
        {% if currentHospitalization %}
			<h2>Aktuální hospitalizace s vyšetřeními a předepsanými léky</h2>
            {% include ':app/hospitalization:showWidget.html.twig' with {'hospitalization': currentHospitalization} %}
        {% endif %}
	</div>
{% endblock %}
