{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Seznam zaměstnanců</h1>

		<table class="grid">
			<thead>
			<tr>
				<th>Uživatel</th>
				<th>Povolání</th>
				<th>Jméno</th>
				<th>Příjmení</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{% for employee in employees %}
				<tr>
					<td>{{ employee.username }}</td>
					<td>{% if employee.admin %} admin {% elseif employee.doctor %} lékař {% else %} sestra {% endif %}</td>
					<td>{{ employee.name }}</td>
					<td>{{ employee.surname }}</td>
					<td>
						<ul>
							<li>
								<a href="{{ getEmployeeShowUrl(employee) }}">Detail</a>
							</li>
							<li>
								<a href="{{ getEmployeeEditUrl(employee) }}">Upravit</a>
							</li>
						</ul>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('admin_nurse_new') }}" class="btn">Přidat novou sestru</a>
				<a href="{{ path('admin_doctor_new') }}" class="btn">Přidat nového lékaře</a>
				<a href="{{ path('admin_admin_new') }}" class="btn">Přidat nového admina</a>
			</li>
		</ul>
	</div>
{% endblock %}
