{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Povolání</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.username }}</td>
                <td>{% if employee.admin %} admin {% elseif employee.doctor %} lékař {% else %} sestra {% endif %}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.surname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ getEmployeeShowUrl(employee) }}">Detail</a>
                        </li>
                        <li>
                            <a href="{{ getEmployeeEditUrl(employee) }}">upravit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_nurse_new') }}">Přidat novou sestru</a>
        </li>
        <li>
            <a href="{{ path('admin_doctor_new') }}">Přidat nového lékaře</a>
        </li>
        <li>
            <a href="{{ path('admin_admin_new') }}">Přidat nového admina</a></li>
    </ul>
{% endblock %}
