{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Sestra</h1>

		<table class="grid">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ nurse.id }}</td>
				</tr>
				<tr>
					<th>Uživatelské jméno</th>
					<td>{{ nurse.username }}</td>
				</tr>
				<tr>
					<th>Jméno</th>
					<td>{{ nurse.name }}</td>
				</tr>
				<tr>
					<th>Příjmení</th>
					<td>{{ nurse.surname }}</td>
				</tr>
				<tr>
					<th>Tel</th>
					<td>{{ nurse.telephone }}</td>
				</tr>
				<tr>
					<th>Oddělení</th>
					<td>{{ nurse.department.name}}</td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('admin_employee_index') }}" class="btn btn--back">Zpět na výpis zaměstnanců</a>
			</li>
			<li>
				<a href="{{ path('admin_nurse_edit', { 'id': nurse.id }) }}" class="btn">Upravit</a>
			</li>
		</ul>
	</div>
{% endblock %}
