<h1>Hospitalizations list</h1>

{#todo: do not display patient when the output is in the patient's detail?#}
<table>
    <thead>
    <tr>
        <th>Patient</th>
        <th>Department</th>
        <th>Datefrom</th>
        <th>Dateto</th>
        <th>Doctor</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for hospitalization in hospitalizations %}
        <tr>
            <td>
                <a href="{{ path('app_patient_show', {'id': hospitalization.getPatient().id}) }}">{{ hospitalization.patient.fullName }}</a>
            </td>
            <td>
                <a href="{{ path('app_department_show', {'id': hospitalization.getDepartment().id}) }}">{{ hospitalization.getDepartment.shortcut }}</a>
            </td>
            <td>{% if hospitalization.dateFrom %}{{ hospitalization.dateFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if hospitalization.dateTo %}{{ hospitalization.dateTo|date('Y-m-d H:i:s') }}{% else %}Aktuální{% endif %}</td>
            <td>
                {% if app.user.isAdmin() %}
                    <a href="{{ path('admin_doctor_show', {'id': hospitalization.doctor.id}) }}">{{ hospitalization.doctor.fullName }}</a>
                {% else %}
                    {{ hospitalization.doctor.fullName }}
                {% endif %}
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('app_hospitalization_show', { 'id': hospitalization.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
