
{# {% block body %} #}

<h1>Seznam hospitalizací</h1>
	<div class="container">
		{% if hospitalizations|length == 0 %}
			<p class="grid--empty">Žádné hospitalizace</p>
		{% else %}
			<table class="grid">
				<thead>
					<tr>
						<th>Pacient</th>
						<th>Oddělení</th>
						<th>Datum Od</th>
						<th>Datum Do</th>
						<th>Lékař</th>
						<th>&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					{% for hospitalization in hospitalizations %}
						<tr>
							<td>
								<a href="{{ path('app_patient_show', {'id': hospitalization.patient.id}) }}">{{ hospitalization.patient.fullName }}</a>
							</td>
							<td>
								<a href="{{ path('app_department_show', {'id': hospitalization.department.id}) }}">{{ hospitalization.getDepartment.shortcut }}</a>
							</td>
							<td>{% if hospitalization.dateFrom %}{{ hospitalization.dateFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
							<td>{% if hospitalization.dateTo %}{{ hospitalization.dateTo|date('Y-m-d H:i:s') }}{% else %}Aktuální{% endif %}</td>
							<td>
								{% if app.user.isAdmin() %}
									<a href="{{ path('admin_doctor_show', {'id': hospitalization.doctor.id}) }}">{{ hospitalization.doctor.fullName }}</a>
								{% else %}
									{{ hospitalization.doctor.fullName }}
								{% endif %}
							</td>
							<td>
								<a href="{{ path('app_hospitalization_show', { 'id': hospitalization.id }) }}" class="btn--show" title="Detail"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{# {% endblock %} #}
