<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Nemocnice{% endblock %}</title>

		<link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/icons.css') }}" />

		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('images/favicons/manifest.json') }}">
		<link rel="mask-icon" href="{{ asset('images/favicons/safari-pinned-tab.svg" color="#5bbad5') }}">
		<link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico') }}">
		<meta name="msapplication-config" content="{{ asset('images/favicons/browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">

		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

		{% block javascripts %}
		{% endblock %}
	</head>

	<body>
		<div class="page-wrapper">
			<div class="cwrapper">
				{% block header %}
					<header class="header">
						<div class="h__wrapper">
							<div class="h">
								<div class="h__item h__item--logo">
									{# @TODO some baseUrl #}
									<a href="{{ path('admin_drug_index') }}">
										<img src="{{ asset('images/logo.png') }}" alt="Nemocnice">
									</a>
								</div>

								<div class="h__item nav__wrapper">
									<nav aria-label="navigace" class="nav">
										{% block menu %}{% endblock %}
									</nav>
								</div>

								<div class="h__item h__item--user">
									<a href="{{ path('fos_user_security_logout') }}" title="Odhlásit se"></a>
								</div>
							</div>
						</div>
					</header>
				{% endblock %}

				{% block body %}{% endblock %}
			</div>

			<footer class="footer">
			</footer>
		</div>
	</body>
</html>
