{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Seznam léků</h1>

		{% if drugs|length == 0 %}
			<p class="grid--empty">Žádné léky</p>
		{% else %}
			<table class="grid">
				<thead>
					<tr>
						<th>Id</th>
						<th>Název</th>
						<th>Hlavní látka</th>
						<th>Kontraindikace</th>
						<th>Množství</th>
						<th>Doporučená dávka</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for drug in drugs %}
						<tr>
							<td><a href="{{ path('app_drug_show', { 'id': drug.id }) }}">{{ drug.id }}</a></td>
							<td>{{ drug.name }}</td>
							<td>{{ drug.mainSubstance }}</td>
							<td>{{ drug.contraindication }}</td>
							<td>{{ drug.substanceAmount }}</td>
							<td>{{ drug.recommendedDosage }}</td>
							<td>
								<a href="{{ path('app_drug_show', { 'id': drug.id }) }}" class="btn--show" title="Detail"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	</div>
{% endblock %}
