{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Drug</h1>

		<table class="grid grid--show">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ drug.id }}</td>
				</tr>
				<tr>
					<th>Název</th>
					<td>{{ drug.name }}</td>
				</tr>
				<tr>
					<th>Hlavní látka</th>
					<td>{{ drug.mainSubstance }}</td>
				</tr>
				<tr>
					<th>Kontraindikace</th>
					<td>{{ drug.contraindication }}</td>
				</tr>
				<tr>
					<th>Množství</th>
					<td>{{ drug.substanceAmount }}</td>
				</tr>
				<tr>
					<th>Doporučená dávka</th>
					<td>{{ drug.recommendedDosage }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_drug_index') }}"class="btn btn--back">Zpět na výpis</a>
	</div>
{% endblock %}
