{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Seznam oddělení</h1>

		{% if departments|length == 0 %}
			<p class="grid--empty">Žádná oddělení</p>
		{% else %}
			<table class="grid">
				<thead>
					<tr>
						<th>Id</th>
						<th>Zkratka</th>
						<th>Název</th>
						<th>Tel</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for department in departments %}
						<tr>
							<td><a href="{{ path('app_department_show', { 'id': department.id }) }}">{{ department.id }}</a>
						</td>
						<td>{{ department.shortcut }}</td>
						<td>{{ department.name }}</td>
						<td>{{ department.telephone }}</td>
						<td>
							<a href="{{ path('app_department_show', { 'id': department.id }) }}" class="btn--show" title="Detail"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
{% endblock %}
