{% block body %}
	<div class="container">

		{% if examinations|length == 0 %}
			<p class="grid--ampty">Žádná vyšetření</p>
		{% else %}
			<table class="grid">
				<thead>
					<tr>
						<th>Id</th>
						<th>Date</th>
						<th>Report</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for examination in examinations %}
						<tr>
							<td><a href="{{ path('app_examination_show', { 'id': examination.id }) }}">{{ examination.id }}</a></td>
							<td>{% if examination.date %}{{ examination.date|date('Y-m-d H:i:s') }}{% endif %}</td>
							<td>{{ examination.report }}</td>
							<td>
								<ul>
									<li>
										<a href="{{ path('app_examination_show', { 'id': examination.id }) }}">Detail</a>
									</li>
									<li>
										<a href="{{ path('app_examination_edit', { 'id': examination.id }) }}">Upravit</a>
									</li>
									<li>
										<a href="{{ path('app_prescription_new', {'id': examination.id }) }}">Create a new
										prescription</a>
									</li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	</div>
{% endblock %}
