
	<div class="container">

		{% if examinations|length == 0 %}
			<p class="grid--empty">Žádná vyšetření</p>
		{% else %}
			<table class="grid">
				<thead>
					<tr>
						<th>Id</th>
						<th>Datum</th>
						<th>Záznam</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for examination in examinations %}
						<tr>
							<td><a href="{{ path('app_examination_show', { 'id': examination.id }) }}">{{ examination.id }}</a></td>
							<td>{% if examination.date %}{{ examination.date|date('Y-m-d H:i:s') }}{% endif %}</td>
							<td>{{ examination.report|slice(0, 50) }} ... </td>
							<td>
								<ul>
									<li>
										<a href="{{ path('app_examination_show', { 'id': examination.id }) }}" class="btn--show" title="Detail"></a>
										<a href="{{ path('app_examination_edit', { 'id': examination.id }) }}" class="btn--edit" title="Upravit"></a>
									</li>
									<li>
										<a href="{{ path('app_prescription_new', {'id': examination.id }) }}">Nový předpis</a>
									</li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	</div>

