{% extends 'app/appBase.html.twig' %}

{% block body %}
    <h1>Examination</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examination.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if examination.date %}{{ examination.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Report</th>
                <td>{{ examination.report }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_examination_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_examination_edit', { 'id': examination.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
