{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Vyšetření</h1>

		<table class="grid grid--show">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ examination.id }}</td>
				</tr>
				<tr>
					<th>Datum</th>
					<td>{% if examination.date %}{{ examination.date|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>
				<tr>
					<th>Záznam</th>
					<td>{{ examination.report }}</td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('app_examination_index') }}"class="btn btn--back">Zpět na výpis</a>
			</li>
			<li>
				<a href="{{ path('app_examination_edit', { 'id': examination.id }) }}" class="btn">Upravit</a>
			</li>
		</ul>

	</div>
{% endblock %}
