{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Zaměstnanec - úpravy</h1>

		{{ form_start(edit_form, {'attr' : {'class': 'fm'}}) }}
			{{ form_widget(edit_form, {'attr' : {'class': 'fm__wrapper'}}) }}
			<div class="fm__btn">
				<input type="submit" value="Upravit" class="btn" />
			</div>
		{{ form_end(edit_form) }}

		<ul>
			<li>
				<a href="{{ path('admin_doctor_show', {'id': doctorId}) }}" class="btn btn--back">Zpět</a>
			</li>
			<li>
				{{ form_start(delete_form) }}
					<div class="fm__btn">
						<input type="submit" value="Odstranit" class="btn btn--delete" />
					</div>
				{{ form_end(delete_form) }}
			</li>
		</ul>
	</div>
{% endblock %}
