{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Úvazek na oddělení - úpravy</h1>

		{{ form_start(edit_form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				{{ form_row(edit_form.type, { 'label': 'Role' }) }}
				{{ form_row(edit_form.telephone, { 'label': 'Telefon' }) }}
				{{ form_row(edit_form.dateFrom, { 'label': 'Datum od', 'attr' : {'class': 'fm__item--date'}}) }}
				{{ form_row(edit_form.dateTo, { 'label': 'Datum do', 'attr' : {'class': 'fm__item--date'}}) }}

				<div class="fm__item--select">
					{{ form_row(edit_form.department, { 'label': 'Oddělení'}) }}
				</div>

				<div class="fm__btn">
					<input type="submit" value="Vytvořit" class="btn" />
				</div>
			</div>

		{{ form_end(edit_form) }}

		<ul>
			<li>
				<a href="{{ path('admin_doctor_show', {'id': doctorId}) }}" class="btn btn--back">Zpět</a>
			</li>
		</ul>
	</div>
{% endblock %}
