<h2>Výpis úvazků na odděleních</h2>

{% if doctor.employments.empty %}
	<p>Žádné úvazky</p>
{% else %}

	<table class="grid">
		<thead>
		<tr>
			<th>Type</th>
			<th>Datefrom</th>
			<th>Dateto</th>
			<th>Telefon</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for employment in doctor.employments %}
			<tr>
				<td>{{ employment.type }}</td>
				<td>{% if employment.dateFrom %}{{ employment.dateFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
				<td>{% if employment.dateTo %}{{ employment.dateTo|date('Y-m-d H:i:s') }}{% endif %}</td>
				<td>{{ employment.telephone }}</td>
				<td>
					<a href="{{ path('admin_employment_show', { 'id': employment.id, 'doctor_id': doctor.id }) }}" class="btn--show" title="Detail"></a>
					<a href="{{ path('admin_employment_edit', { 'id': employment.id, 'doctor_id': doctor.id }) }}" class="btn--edit" title="Upravit"></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endif %}
