{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Zaměstnanec</h1>

		<table class="grid grid--show">
			<tbody>
			<tr>
				<th>Id</th>
				<td>{{ employment.id }}</td>
			</tr>
			<tr>
				<th>Typ</th>
				<td>{{ employment.type }}</td>
			</tr>
			<tr>
				<th>Datum od</th>
				<td>{% if employment.dateFrom %}{{ employment.dateFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
			</tr>
			<tr>
				<th>Datum do</th>
				<td>{% if employment.dateTo %}{{ employment.dateTo|date('Y-m-d H:i:s') }}{% endif %}</td>
			</tr>
			<tr>
				<th>Telefon</th>
				<td>{{ employment.telephone }}</td>
			</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('admin_doctor_show', {'id': doctorId}) }}" class="btn btn--back">Zpět na doktora</a>
				<a href="{{ path('admin_employment_edit', { 'id': employment.id , 'doctor_id': doctorId}) }}" class="btn" class="btn--edit" title="Upravit"></a>
			</li>
			<li>
				{{ form_start(delete_form) }}
					<div class="fm__btn">
						<input type="submit" value="Odstranit" class="btn btn--delete" />
					</div>
				{{ form_end(delete_form) }}
			</li>
		</ul>

	</div>
{% endblock %}
