{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Upravení podání léku</h1>

		{{ form_start(edit_form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				{{ form_row(edit_form.time, { 'label': 'Datum od', 'attr' : {'class': 'fm__item--date'}}) }}
				<div class="fm__item--select">
					{{ form_row(edit_form.appliedBy, { 'label': 'Aplikoval' }) }}
				</div>

				<div class="fm__btn">
					<input type="submit" value="Upravit" class="btn" />
				</div>
			</div>

		{{ form_end(edit_form) }}

		<ul>
			<li>
				<a href="{{ path('app_drug_application_index') }}"class="btn btn--back">Zpět na všechna podání léků</a>
				<a href="{{ path('app_patient_show', {'id': drugApplication.prescription.examination.hospitalization.patient.id}) }}" class="btn btn--back">Zpět
				na pacienta</a>
			</li>
		</ul>
	</div>
{% endblock %}
