{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Admin</h1>

		<table class="grid grid--show">
			<tbody>
			<tr>
				<th>Uživatelské jméno</th>
				<td>{{ admin.username }}</td>
			</tr>
			<tr>
				<th>Jméno</th>
				<td>{{ admin.name }}</td>
			</tr>
			<tr>
				<th>Příjmení</th>
				<td>{{ admin.surname }}</td>
			</tr>
			<tr>
				<th>Tel</th>
				<td>{{ admin.telephone }}</td>
			</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('admin_employee_index') }}" class="btn btn--back">Zpět na výpis zaměstnanců</a>
				<a href="{{ path('admin_admin_edit', { 'id': admin.id }) }}" class="btn">Upravit</a>
			</li>
		</ul>
	</div>
{% endblock %}
