{% extends 'admin/adminBase.html.twig' %}
{% block title %}Oddělení | úpravy{% endblock %}

{% block body %}
	<div class="container">
		<h1>Oddělení - úpravy</h1>

		{{ form_start(edit_form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				{{ form_row(edit_form.shortcut, { 'label': 'Zkratka' }) }}
				{{ form_row(edit_form.name, { 'label': 'Název' }) }}
				{{ form_row(edit_form.telephone, { 'label': 'Telefon' }) }}

				<div class="fm__btn">
					<input type="submit" value="Upravit" class="btn" />
				</div>
			</div>

		{{ form_end(edit_form) }}


		<a href="{{ path('admin_department_index') }}" class="btn btn--back">Zpět na výpis</a>
	</div>
{% endblock %}
