{% extends 'admin/adminBase.html.twig' %}
{% block title %}Oddělení{% endblock %}

{% block body %}
	<div class="container">
		<h1>Seznam oddělení</h1>

		{% if departments|length == 0 %}
			<p>Žádná oddělení</p>
		{% else %}
			<table class="grid">
				<thead>
				<tr>
					<th>Id</th>
					<th>Zkratka</th>
					<th>Název</th>
					<th>Telefon</th>
					<th>&nbsp</th>
				</tr>
				</thead>
				<tbody>
				{% for department in departments %}
					<tr>
						<td><a href="{{ path('admin_department_show', { 'id': department.id }) }}">{{ department.id }}</a>
						</td>
						<td>{{ department.shortcut }}</td>
						<td>{{ department.name }}</td>
						<td>{{ department.telephone }}</td>
						<td>
							<ul>
								<li>
									<a href="{{ path('admin_department_show', { 'id': department.id }) }}">Detail</a>
								</li>
								<li>
									<a href="{{ path('admin_department_edit', { 'id': department.id }) }}">Upravit</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<ul>
				<li>
					<a href="{{ path('admin_department_new') }}">Vytvořit nové oddělení</a>
				</li>
			</ul>
		{% endif %}
	</div>
{% endblock %}
