{% extends 'admin/adminBase.html.twig' %}
{% block title %}Oddělení | nové{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nové oddělení</h1>

		{{ form_start(form, {'attr' : {'class': 'fm'}}) }}

			<div class="fm__wrapper">
				{{ form_row(form.shortcut, { 'label': 'Zkratka' }) }}
				{{ form_row(form.name, { 'label': 'Název' }) }}
				{{ form_row(form.telephone, { 'label': 'Telefon' }) }}

				<div class="fm__btn">
					<button type="button" id="generator" data-js="department" class="btn btn--generate">Generovat pro testy</button>
					<input type="submit" value="Vytvořit" class="btn" />
				</div>
			</div>

		{{ form_end(form) }}

		<a href="{{ path('admin_department_index') }}" class="btn btn--back">Zpět na výpis</a>
	</div>
{% endblock %}
