{% extends 'admin/adminBase.html.twig' %}
{% block title %}Oddělení | detail{% endblock %}

{% block body %}
	<div class="container">
		<h1>Oddělení</h1>

		<table class="grid">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ department.id }}</td>
				</tr>
				<tr>
					<th>Zkratka</th>
					<td>{{ department.shortcut }}</td>
				</tr>
				<tr>
					<th>Název</th>
					<td>{{ department.name }}</td>
				</tr>
				<tr>
					<th>Telefon</th>
					<td>{{ department.telephone }}</td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('admin_department_index') }}">Zpět na výpis</a>
			</li>
			<li>
				<a href="{{ path('admin_department_edit', { 'id': department.id }) }}">Upravit</a>
			</li>
		</ul>
	</div>
{% endblock %}
